.family-section {
  margin: 1.5rem 0;
  width: 100%;
}

.family-section p {
  line-height: 1.2;
}

.map-container {
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid var(--gold);
  padding: 5px;
}

@media (max-width: 480px) {
  .page-container {
    padding: 1.5rem 1rem;
  }
}
